
<table>
{% for row in callsigns %}
{% with row.qrz as qrz %}
<tr>
<td><h1 class="{% if row.is_cq %}cq {% endif %}callsign"><a href="http://www.qrz.com/db/?callsign={{ qrz.call }}" target="_qrz">
{{ qrz.call }}</a></h1></td>
<td>
<div class="qrz">
<table width="250">
<tr><td colspan="3">{% if qrz.fname %}{{ qrz.fname }} {% endif %}{{ qrz.name }}</td></tr>
<tr><td colspan="3">{% if not qrz.is_dx %}{% if qrz.addr2 %}{{ qrz.addr2 }}, {% endif %}{{ qrz.state|default:"" }}{% else %}
{% if qrz.addr2 %}{{ qrz.addr2 }}, {% endif %}{{ qrz.country }}
{% endif %}</td></tr>
<tr><td width="75">{{ qrz.grid|upper }}</td>
<td width="75"></td>
<td width="75">{% if qrz.will_lotw %}<img src="{{ STATIC_URL }}icons/48px-Crystal_Clear_app_email.png" title="LOTW" label="LOTW" width="24" height="24"/>{% endif %}
{% if qrz.will_direct %}<img src="{{ STATIC_URL }}icons/48px-Crystal_Clear_app_kedit.png" title="Direct" label="Direct" width="24" height="24"/>{% endif %}</td></tr>
{% for contact in row.contacts %}
<tr><td class="qso" colspan="3">QSO on {{ contact.band }} at {{ contact.when }}</td></tr>
{% endfor %}
{% endwith %}
</table>
</div>
</td>
</tr>
{% if row.new_row %}<tr><td colspan="2"><hr /></td></tr>{% endif %}
{% endfor %}
</table>
