<html>
<head>
<title>Callsigns</title>
<link rel="stylesheet" href="{{ STATIC_URL }}/log.css" type="text/css" />
</head>
<body id="log">
<table>
{% for qrz in callsigns %}
<tr>
<td><h1 class="callsign">{{ qrz.call }}</h1></td>
<td>
<div class="qrz">
{% if qrz.fname %}{{ qrz.fname }} {% endif %}{{ qrz.name }}<br/>
{% if not qrz.is_dx %}{% if qrz.addr2 %}{{ qrz.addr2 }}, {% endif %}{{ qrz.state|default:"" }} {{ qrz.zip|default:"" }}{% else %}
{% if qrz.addr2 %}{{ qrz.addr2 }}, {% endif %}{{ qrz.country }}
{% endif %}<br/>
{{ qrz.license_class_expanded }} | {{ qrz.grid|upper }} {% if qrz.will_direct %}| Direct {% endif %}{% if qrz.will_lotw %}| LOTW{% endif %}<br/>
<a href="http://qrz.com/db/?callsign={{ qrz.call }}" target="_qrz">View on QRZ.com</a>
</div>
</td>
</tr>
{% endfor %}
</table>
</body>
</html>

